APP_TITLE="URL Shortener"
APP_DESCRIPTION="Service for creating a shortened form of transmitted URLs and analyzing the activity of their use"
DATABASE_DSN=postgresql+asyncpg://postgres:app@localhost:5433/urls
POSTGRES_PASSWORD=app
POSTGRES_USER=app
POSTGRES_DB=auth
POSTGRES_HOST=db